.box {
    margin: 20px;
    margin-top: 150px;
  }
  
  .grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .grid > div {
    flex-basis: calc(50% - 40px);
  }
  
  .boxy {
    width: 300px;
    background: green;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .boxy:hover {
    animation: boxyRotation 4s infinite linear;
  }
  
  @keyframes boxyRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .black-background {
    background-color: red !important;
    font-size: 5vh;
    border-radius: 10px 10px 10px 10px;
  }